[submodule "docs_external/basic_skills"]
	path = docs_external/basic_skills
	url = https://github.com/sdsc-hpc-training-org/basic_skills.git
	branch = hpc-training-doc
[submodule "docs_external/galyleo"]
	path = docs_external/galyleo
	url = https://github.com/mkandes/galyleo.git
	branch = master
[submodule "docs_external/expanse-101"]
	path = docs_external/expanse-101
	url = https://github.com/sdsc-hpc-training-org/expanse-101.git
	branch = docusaurus
[submodule "docs_external/tscc-101"]
	path = docs_external/tscc-101
	url = https://github.com/sdsc-hpc-training-org/tscc-101.git
	branch = main
[submodule "docs_external/hpc-security"]
	path = docs_external/hpc-security
	url = https://github.com/sdsc-hpc-training-org/hpc-security.git
	branch = master
[submodule "docs_external/comet-101"]
	path = docs_external/comet-101
	url = https://github.com/sdsc-hpc-training-org/comet-101.git
	branch = master
